body {
    background: url(img/master.jpg);
    height: 1000px;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;


}

.head h1 {
    color: black;
    border: 2px solid black;
    background-color: #31dada;
    text-align: center;
    font-size: medium;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    padding: 6px;

}

.left {

    /* border: 2px solid orange; */
    position: absolute;
    display: inline-block;

}

.left img {

    width: 60px;
}

.mid {

    /* border: 2px solid violet; */
    display: block;
    width: 45%;
    margin: 12px auto;
}

.right {

    /* border: 2px solid brown; */
    position: absolute;
    right: 11px;
    top: 56px;
    display: inline-block;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: inline-block;

}

.navbar li {
    display: inline-block;
    text-decoration: none;

    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 24px;
}

.navbar li a:hover {

    /* background-color: black; */
    color: gray;
    /* border: 2px solid gray;  */
    border-radius: 10px;
    text-decoration: underline;
    padding: 5px;

}

.navbar li a.active {
    text-decoration: underline;
    color: gray;
}

.btn {
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin: 4px;
    padding: 3px;
    font-size: 17px;
    border-radius: 10px;
    background: none;
    border-style: none;


}

.btn:hover {
    border: 2px solid white;
    background: none;
    color: gray;
    text-decoration: underline;
}

.welcome {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    color: #0af5f5;
    margin-left: 234px;
    padding: 41px;
    font-size: 40px;
    color: #0af5f5;
}

.container {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    border: 5px solid #0af5f5;
    margin: 107px 419px;
    padding: 44px;
    width: 35%;
    border-radius: 24px;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.container input {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 7px;
    padding: 4px;

    display: inline-block;
    border: 2px solid orange;
}

.container h2 {
    text-align: center;
    color: #37cac5;
}

.container button {
    display: inline-block;
    width: 60%;
    margin: 20px auto;

}